*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin-bottom: 10px;
}

button {
  display: block;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background: none;
  color: #000;
  cursor: pointer;
}

button:hover {
  background: #000;
  color: #fff;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  width: 50px;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 4px;
  flex: 1;
}

.container {
  margin: auto;
  padding: 50px 15px;
  max-width: 480px;
}

.tabs {
  position: relative;
  margin: 30px auto 20px;
  width: fit-content;
  display: flex;
  border: 1px solid #000;
  border-radius: 4px;
}

.tabs .indicator {
  position: absolute;
  background: #000;
  width: 120px;
  height: 100%;
  border-radius: 4px;
  z-index: -1;
  transition: all 0.3s ease;
}

.tab-item {
  width: 120px;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
}

.tab-item:hover {
  font-weight: 600;
}

.tab-item.selected {
  color: #fff;
}

.card {
  padding: 25px;
  border-radius: 4px;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.output-container {
  display: none;
  padding: 24px;
  background: #286ad3;
  background: linear-gradient(90deg, rgba(40, 106, 211, 1) 0%, rgba(13, 165, 96, 1) 80%);
}

.output {
  position: relative;
}

.output h3 {
  text-align: center;
}

.output .content {
  margin: auto;
  width: fit-content;
  color: #fff;
}

.output .person,
.output .total {
  width: fit-content;
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
}

.output .person .name {
  min-width: 100px;
}

.output .person .number {
  min-width: 50px;
  text-align: center;
}

.output .person .number:last-child,
.output .total .number {
  width: 65px;
  margin-left: 8px;
  text-align: left;
}

.output .total {
  margin-bottom: 0;
  padding-top: 8px;
  width: 100%;
  border-top: 1px solid #fff;
  justify-content: space-between;
}

.row {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 4px;
}

.row label {
  width: 100%;
}

.other .card {
  margin: 20px 0;
  padding: 20px;
}

.individual .person {
  padding: 10px 0;
}

.individual .person:not(:nth-last-child(2)) {
  border-bottom: 1px solid #000;
}
